*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #0b284e;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    flex: 1;
}

.box{
    flex: 8;
    background-color: #1a365c;
}

.footer{
    flex: 1;
    align-items: center;
}